body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    width: 310px;
    background-color: #F1FAEE;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
  }

  h1 {
    color: #4285F4;
  }

  .input-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  .input-container label {
    font-weight: bold;
  }

  .input-container input[type="password"] {
    margin-top: 5px;
    padding: 5px;
    font-size: 14px;
  }

  .input-container input[type="text"] {
    margin-top: 5px;
    padding: 5px;
    font-size: 14px;
  }

  .stored-key {
    margin-top: 20px;
    color: #666;
  }

  .button-container {
    margin-top: 30px;
  }

  .button {
    background-color: #4285F4;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
  }

  #clear-button{
    background-color: #f1f1f1;
    color: white;
    border: 1px solid #adadad;
    color: #000;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    
  }

  .password-container {
    position: relative;
    display: inline-block;
  }
 

   #toggle-button{
    position: absolute;
    top: 194px;
    right: 2px; 
    transform: translateY(-50%);
    cursor: pointer;
    user-select: none;
    font-weight: bold;
    padding: 7px;
    border-radius: 5px;  
  }
   